---
pagination:
    data: products
    size: 1
    alias: product
permalink: "products/{{ product.slug }}/"
---
<h1>Product</h1>
{{ product.slug }}

{% island 'p2/P2Component.svelte', 'client:load' %}
{% prop 'json', product %}
{% prop 'name', product.slug %}
{% endisland %}